*,*::after,*::before{
    box-sizing: border-box;
 }
 body{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;
    margin:0px;
}
.header,.navbar {
    background-image:linear-gradient(rgba(0, 0, 0, 0.25) ,rgba(0, 0, 0, 0.25)) ,url('/img/hero_1.jpg');
    background-attachment: fixed;
    background-size:  110% 160%;
   
   /* transform: scale(1.2) translate(5%, -5%); */
}


section.header a{
   text-decoration: none;
   color: #fff;

}
section.header  svg{
    width: 5px;
    width: 20px;
    float: left;
    margin-right: 20px;
    padding: 20p;
    cursor: pointer;
}
 

