*::after,*::before{
    box-sizing: border-box;
 }
 body{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;
    margin:0px;
}
.header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.25) ,rgba(0, 0, 0, 0.25)) ,url('https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8dHJhdmVsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-attachment: fixed;
    background-size:  110% 160%;
   
   /* transform: scale(1.2) translate(5%, -5%); */
}


.header a{
   text-decoration: none;
   color: #fff;

}
.header  svg{
    width: 5px;
    width: 20px;
    float: left;
    margin-right: 20px;
    padding: 20p;
    cursor: pointer;
}
 

